* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    font-family: 'Circe', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}